<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="static/images/iscc-logo-icon-black.svg" />
    <link rel="mask-icon" href="static/images/iscc-logo-icon-black.svg"  color="#000000">
    <link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISCC Generator - International Standard Content Code</title>

    {% vite_hmr_client %}
    {% vite_asset("main.ts") %}
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
